<!DOCTYPE html>
<html>
    <head>
        <meta charset="charset">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Mon Blog</title>
        <link href="../Style/Detail.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="flex_container">
            
            <div class="banner">
                 <div class="link">

                     <a  id="home" href="Accueil.html"> Home</a>
                     <a id="sujets" href="Sujet.html"> Sujets</a>
                     <a href="#foot">Contacts</a>
                     <a  class="active" href="Detail.html">Details</a>
                     <a href="About.html"> About</a>

                 </div>
                </div>
            
                <div class="citation-detail">
            
                
                </div>
            
                <div class="menu">
                    
<!--                    <p id="title"> </p>-->
                    
                    <div id="list-post">
                        
                    
                    
                    </div>
                    
                    <div class="form">
                        <form action="Accueil.html" method="get">
                            
                            <input name="pseudo" type="text" placeholder="  Entrer Votre Pseudo"/>
                            
                            <textarea name="commentaire" rows="18" cols="80" placeholder= "Saisissez Votre Commentaire ..."></textarea>
                            
                            <button type="submit"> Publier</button>
                        </form>
                        
                        
                    </div>
                    
            
              </div>
            
              <div class="images">
            
            
             </div>
            
              <div class="bas_page">
                  <footer id="foot">
                    <table cellspacing="15px">
                        <tr>
                            <td> <a href ="About.html">
                                
                                <img src="../Images/facebook.png"></a>
                            </td>
                            <td> <img src ="../Images/phone.png">(+237) 670798064 </td>
                            <td> <img src ="../Images/whatsapp.png">(+237) 690361482
                            </td>
                            
                        </tr>
                    </table>

                </footer>   
                
            
            </div>
            
        </div>
        <script src="../JSCode/data.js"></script>
        <script src="../JSCode/detail.js"></script>
    </body>
</html>