<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mon Blog</title>
        <link href="../Style/Sujet.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="flex_container">
            
            <div class="banner">
                <div class="link">
                    
                    <a href="Accueil.html"> Home</a>
                    <a class="active" href="Sujet.html">Sujets</a>
                    <a href="#foot">Contacts</a>
                    <a href="About"> About</a>

                </div>
            </div>
            
            <div class="sujets_plus_lu">
                
                
            </div>
            
            <div class="menu">
                
                
                
            </div>
            
            <div class="bas_page">
                <div id="foot">
                    <table cellspacing= "15px">
                        <tr>
                            <td> <a   href="About.html"><img src="../Images/facebook.png"></a>
                            </td>
                            <td><img src="../Images/phone.png"> (+237) 670798064 </td>
                            <td> <img src ="../Images/whatsapp.png">(+237) 690361482
                            </td>
                        </tr>
                    </table>
                </div>
                
            </div>
            
            
            
                
        </div>
    
   </body>
    
</html>