body{
    width: 100%;
    margin: 0px;
    
    
}

div.flex_container {
    display: flex;
    flex-wrap: wrap;
    
    
}
div.banner{
    width: 100%;
    height: 40px;
    background-color:#333;
    position:fixed;
    padding-top:15px;
    overflow: hidden;
    top: 0px;
    left: 0px;
    
}
.menu{
    margin-top:65px; 
    width: 50%;
    margin-left: 1%;
/*    border: 1px solid #ccc;*/
/*    le contenu doit-il avoir une taille fixe?*/
    height: 700px;
    margin-bottom: 40px;

}
.citation-detail {
    width: 18%;
    height: inherit;
/*   border: 1px solid #ccc; */
    margin-top:65px;
    margin-left: 2%;
    overflow: scroll;
    margin-bottom: 40px
      
}

.images {
    width: 25%;
    height: inherit;
/*   border: 1px solid #ccc; */
    margin-top:65px;
    margin-left: 2%;
    margin-bottom: 40px;
    background-color: #f0f0f5;
        
      
}

.bas_page {
     width: 100%;
    border-top: 1px solid #f0f5f5;
/*    margin-top:600px;*/
    height: 70px;
    background-color: #ccc;
}

div.link a {
    color: white;
    padding: 30px;
    text-decoration: none;
    text-align: center;
}

div.link a:hover:not(.active) {
    background-color: #111;
    
}
.active {
    background-color: #4CAF50;
}
table img {
    width: 40px;
    height: 40px;
    border: 0px;
        
}

.form {
    height: 420px;
    border: 1px #ccc;
    background-color:#f0f0f5; 
}
textarea {
    margin-top: 5px;
    text-indent:20px;
    margin-left:18px;
    margin-top: 25px;
    letter-spacing: 2px;
    font-family: times new roman;
    
}

.form input {
    height: 30px;
    width: 200px;
    margin-left: 18px;
    margin-top: 5px;
    text-indent: 5px;
    
}

.form button {
    margin-top: 5px;
    margin-left:18px;
    height: 35px;
    width: 90px;
}
.form button:hover {
    background: #4CAF50;
}

@media screen and (max-width:600px){
    .menu, .citation-detail, . {
        width: 100%;
    }
   
    
    
}


